<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:font-weight="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users Management System</title>
</head>
<body>
<div align="center">
    <br>
    <h2>Users List</h2>
    <br />
    <table border="1">
        <tr>
            <td>Given Name</td>
            <td>Surname</td>
            <td>Email</td>
            <td>Control</td>
        </tr>
        <tr th:each="user : ${usersList}">
            <td th:text="${user.givenName}">Given Name</td>
            <td th:text="${user.surname}">Surname</td>
            <td th:text="${user.email}">Email</td>
            <td>
                <input type="button" value="Edit" th:onclick="'window.location.href = \'' + @{/edit/{id}(id=${user.id})} + '\''"/>
                <input type="button" value="Delete" th:onclick="'window.location.href = \'' + @{/delete/{id}(id=${user.id})} + '\''"/>
            </td>
        </tr>
    </table>
    <br> <a th:href="@{/add}">Add User</a> <br>
</div>

</body>
</html>