<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div align="center">
    <h2>Edit user</h2>
    <form action="#" th:action="@{/edit/{id}(id=*{id})}" method="post" th:object="${editableUser}">
        <label>Name:</label>
        <input type="text" th:field="*{givenName}" />
        <br><br>

        <label>Surname:</label>
        <input type="text" th:field="*{surname}" />
        <br><br>

        <label>E-mail:</label>
        <input type="text" th:field="*{email}" />
        <br><br>

        <button type="submit">Save changes</button>
    </form>
</div>
</body>
</html>